<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black/50">
    <form action="/edit" method="post">
        <input type="text" value="<%=filename%>" class="bg-black my-10 mx-[150px] py-2 px-4 w-[1000px] text-white" name="privi" readonly    >
        <input type="text" placeholder="new file name" class="bg-black my-0 mx-[150px] py-2 px-4 pb-10 w-[1000px] text-white" name="new">
        <div>

            <input type="submit" value="edit filename" class="bg-black/50 rounded text-white mt-9 ml-[150px] py-2 px-10">
        </div>
    </form>

    
        
        
        
    </div>
</body>
</html>