<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black/50">
    
    <div class="p-10 mt-10 ml-[100px] flex">
        <h1><%=filename%></h1>
        <div class="">

            <p class="m-5"><%=data%></p>        
        </div>
    </div>
</body>
</html>